<style>
#articleTable tr:nth-child(even) {background: #FFFFFF}
#articleTable tr:nth-child(odd) {background: #EEEEEE}
</style>
[CATEGORY:CNN]
<table width="100%" cellspacing="1" cellpadding="3" border="0" id="articleTable">
<tbody>
    <tr style="background-color: #B7B7B7;">
        <td valign="top" width="80px">
            <span class="normal ccbnTblTtl">Date</span>
        </td>
        <td valign="top">
            <span class="normal ccbnTblTtl">Title</span>
        </td>
        <td valign="top" width="25px">
            <span class="normal ccbnTblTtl">&nbsp;</span>
        </td>
    </tr>